<ion-header>
  <ion-toolbar>
    <ion-title>Daftar Bangunan Cagar Budaya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Pencarian -->
  <ion-searchbar
    placeholder="Cari Bangunan"
    (ionInput)="filterBuildings($event)"
  ></ion-searchbar>

  <!-- Daftar Bangunan - Menggunakan card dan gambar lebih besar -->
<ion-list>
  <ion-item *ngFor="let building of filteredBuildings" button (click)="openBuildingDetail(building.id)">
    <!-- Card untuk setiap bangunan -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ building.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!-- Wadah gambar lebih besar -->
        <ion-img [src]="building.image" alt="{{ building.name }}" style="height: 250px; object-fit: cover;"></ion-img>

        <!-- Deskripsi bangunan -->
        <p>{{ building.address }}</p>
        <h3>{{ building.description }}</h3>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>
</ion-content>
