ion-thumbnail {
  border-radius: 8px;
  overflow: hidden;
}

ion-searchbar {
  margin-bottom: 10px;
}
ion-toolbar {
  --background: #ECEBDE; /* Warna latar belakang toolbar */
  --color: #000000; /* Warna teks */
}
