ion-thumbnail {
  border-radius: 8px;
  overflow: hidden;
}

ion-searchbar {
  margin-bottom: 10px;
}
ion-toolbar {
  --background: #ECEBDE; /* Warna latar belakang toolbar */
  --color: #000000; /* Warna teks */
}
ion-content.background {
  --background: none; /* Matikan background bawaan */
  position: relative; /* Tetap relatif untuk konten */

  &::before {
    content: "";
    background: url('../../assets/icon/Backgroud app.png') no-repeat center center;
    background-size: cover; /* Pastikan background memenuhi layar */
    position: absolute; /* Background akan berada di belakang konten */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Letakkan di bawah konten */
  }
}
