<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Selamat Datang MNH</h1>
  <div class="profile-container">
    <ion-avatar>
      <img [src]="user.avatar" alt="User Avatar" />
    </ion-avatar>
    <h2>{{ user.name }}</h2>
    <p>{{ user.email }}</p>
  </div>

  <ion-list>
    <ion-item button (click)="editProfile()">
      <ion-icon slot="start" name="create-outline"></ion-icon>
      <ion-label>Edit Profile</ion-label>
    </ion-item>
    <ion-item button color="warning" (click)="logout()">
      <ion-icon slot="start" name="log-in-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
